* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: inherit;
}

html {
    background-color: #323a3c;
    font-size: 18px;
}

body {
    background-image: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4 {
    color: #E8D22C;
    margin: 0 0 1em 0;
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

h2 {
    font-size: 1.25em;
    font-weight: normal;
}

#app {
	margin-top: auto;
}

.col-wrapper {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

header[role="banner"] .logo {
    background-color: #323a3c;
    padding: 20px;
}

header[role="banner"] .greeting:before {
    content: '';
    height: 4px;
    width: 100%;
    display: block;
    background-image: linear-gradient(
        to right,
        #E8D22C,
        #4DBDB7,
        #ED4771
    );
}

#primary-logo img {
    max-width: 140px;
    opacity: 0.75;
    -webkit-transition: opacity 100ms ease;
    transition: opacity 200ms ease;
}

#primary-logo img:hover {
    opacity: 1;
}

.greeting h1 {
    margin: 20px 0 0 0;
}

footer {
    background-color: #323a3c;
}

footer > div {
    padding: 20px;
    text-align: center;
}

footer time {
    text-align: center;
    color: #4DBDB7;
    font-size: 2rem;
}

.timeline {
	display: flex;
	align-items: flex-end;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.task-wrapper {
	flex: 1;
    flex-basis: 150px;
	min-width: 150px;
    margin: 4px 4px 0 4px;
}

.task .show-selected {
	overflow: hidden;
	height: 0;
    transition: height 100ms ease;
}

.task-wrapper button {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	border-spacing: 0;
	color: #26589F;
	font-family: 'PT Sans Narrow',sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.42rem;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
}

.task.selected {
    background-color: #ED4771;
    box-shadow: 4px 4px 0 rgba(237, 71, 113, 0.5);
}

.task.selected .show-selected {
	height: 215px;
    padding-top: 10px;
}

.task-wrapper .time {
	text-align: center;
	font-family: 'Poiret One', cursive;
	font-size: 24pt;
	margin-bottom: 1rem;
}

.task-wrapper .time img {
    max-height: 30px;
    opacity: 0.5;
    margin-bottom: -5px;
}

.task-wrapper.selected {
    flex: 2;
    flex-basis: 200px;
	min-width: 200px;
}

.task {
	border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	background-color: #C2AB02;
	padding: 10px;
    box-shadow: 4px 4px 0 rgba(194, 171, 2, 0.5);
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.task.completed {
    background-color: #4DBDB7;
    color: #2B6965;
    opacity: 0.25;
    box-shadow: 4px 4px 0 rgba(65, 158, 153, 0.5);
}

.task.missed {
    background-color: #ED4771;
    box-shadow: 4px 4px 0 rgba(237, 71, 113, 0.5);
}

.task.completed h2 {
    color: #2B6965;
}

.task h2 {
	text-align: center;
    color: #fff;
    margin-bottom: 0;
    width: 100%;
}

.task .main-icon-wrapper {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    padding: 20px;
}

.task img.main-icon {
	height: 0;
    transition: height 200ms ease;
}

.task.selected img.main-icon {
    width: 100px;
    height: 100px;
}

.task button {
	width: 100%;
}

.task-wrapper .pill {
    padding: 10px 40px 10px 20px;
    background-color: #fff;
    color: #ED4771;
    border-radius: 20px;
    margin: 14px auto 0 auto;
    background-image: url(../img/icon_tick_reversed.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 15px center;
}
