* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: inherit;
}

html {
    background-color: #323a3c;
    font-size: 18px;
}

body {
    background-image: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

#app {
	margin-top: auto;
}

#primary-logo {
    position: fixed;
    top: 20px;
    left: 40px;
}

#primary-logo img {
    max-width: 180px;
    opacity: 0.75;
    -webkit-transition: opacity 100ms ease;
    transition: opacity 200ms ease;
}

#primary-logo img:hover {
    opacity: 1;
}

.col-wrapper {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

header[role="banner"] {
    min-height: 120px;
    padding: 30px;
}

h1, h2, h3, h4 {
    color: #E8D22C;
    margin: 0 0 1em 0;
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

h2 {
    font-size: 1.25em;
    font-weight: normal;
}

.timeline{
	display: flex;
	align-items: flex-end;
}

.task-wrapper {
	flex: 1;
    margin: 4px;
}

.task .show-selected {
	overflow: hidden;
	height: 0;
    transition: height 100ms ease;
}

.task.selected .show-selected {
	height: 185px;
    padding-top: 1rem;
}

.task-wrapper .time {
	text-align: center;
	font-family: 'Poiret One', cursive;
	font-size: 14pt;
	margin-bottom: 2px;
}

.task {
	border: none;
	background-color: #ED4771;
	padding: 20px;
    box-shadow: 4px -4px 0 rgba(237, 71, 113, 0.5);
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.task.completed {
    background-color: #4DBDB7;
    color: #2B6965;
    opacity: 0.25;
    box-shadow: 4px -4px 0 rgba(65, 158, 153, 0.5);
}

.task.completed h2 {
    color: #2B6965;
}

.task h2 {
	text-align: center;
    color: #fff;
    margin-bottom: 0;
}

.task img.main-icon {
	height: 0;
    transition: height 200ms ease;
}

.task.selected img.main-icon {
    height: 100px;
}

.task button {
	width: 100%;
}

.task .pill {
    padding: 10px 40px 10px 20px;
    background-color: #fff;
    color: #ED4771;
    border-radius: 20px;
    margin: 1rem auto 0 auto;
    background-image: url(../img/icon_tick_reversed.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 15px center;
}
