body {
    background-image: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

#primary-logo {
    position: fixed;
    top: 20px;
    left: 20px;
}

#primary-logo img {
    max-width: 240px;
}

.col-wrapper {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

header[role="banner"] {
    min-height: 120px;
}

.timeline{
	display: flex;
	align-items: flex-end;
}

.task{
	border: 1px solid #CCC;
	background: #EEE;
	flex: 1;
	padding: ;
}

.task h2{
	text-align: center;
}

.task img{
	display: block;
	max-width: 100px;
	max-width: 80%;
	margin: 50px auto;
}

.task button{
	width: 100%;
	margin: 10px 0;
}